@import url('https://fonts.googleapis.com/css?family=Bitter|Raleway');

html{
    padding-top: 4rem;
    font-family: 'Raleway', 'Droid Sans', 'Arial', sans-serif;
}

h1{
    font-family: 'Raleway', 'Droid Sans', 'Arial', sans-serif;
}
h4{
    font-family: 'Raleway', 'Droid Sans', 'Arial', sans-serif;
}
.navbar-toggler{
    font-family: 'Raleway', 'Droid Sans', 'Arial', sans-serif;
}
.nav{
    font-family: 'Raleway', 'Droid Sans', 'Arial', sans-serif;
}
footer div span ul p{
    font-family: 'Raleway', 'Droid Sans', 'Arial', sans-serif;
}
.btn{
    font-family: 'Raleway', 'Droid Sans', 'Arial', sans-serif;
}
label{
    font-family: 'Raleway', 'Droid Sans', 'Arial', sans-serif;
}
p{
   font-family: 'Bitter', 'Droid Serif', 'Times New Roman', serif; 
}
li{
   font-family: 'Bitter', 'Droid Serif', 'Times New Roman', serif;  
}
a{
    font-family: 'Bitter', 'Droid Serif', 'Times New Roman', serif; 
}
.map{
    padding: 1rem;
}
body{
    background-color: #DDD;
}
.navbar{
    background-color: #3496CC;
}
.navbar-toggler{
    cursor: pointer;
}
.jumbotron{
    background-color: #74D7FF;
    opacity: 0.85;
}
.display-3{
    color: #FFF;
    text-shadow: 2px 2px #777;
    font-family: 'Raleway', 'Droid Sans', 'Arial', sans-serif;
}
.card-inverse{
    display: inline-block;
}
.card-header{
    font-size: 3rem;
    background-color: #74D7FF;
    color: #FFF;
    text-shadow: 2px 2px #777;
}
.floatcards{
    background-color: #74D7FF;
    opacity: 0.85;
}
.card-block{
    background-color: #74D7FF;
    opacity: 0.8;
}
.formmm{
    margin: 1rem;
    padding: 2rem;
    width: 90%;
    background-color: #74D7FF;
    opacity: 0.9;
}
.form-group{
    
}
.icon{
    float: left;
    padding: 0 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: #DDD;
}
.container{
    width: 100%;
    background-color: #3496CC;
    position: relative;
    bottom: 0;
    opacity: 0.95;
    clear: both;
}
div img{
    
}
.iconic-social-instagram:hover{
    color: #e95950;
    cursor: pointer;
}

.iconic-social-twitter:hover{
    color: #55acee;
    cursor: pointer;
}

.iconic-social-facebook:hover{
    color: #3b5998;
    cursor: pointer;
}

.iconic-social-tumblr:hover{
    color: #32506d;
    cursor: pointer;
}